# For schematic local testing 
.synapseConfig
config.yml
creds.json

# Dist and test artifact files
publish/**
*.schema.json
*.manifest.csv
*.test.xlsx
tests/**_log.txt

# IDE data and other data for code tools
.idea
.lsp
.clj-kondo
.Rhistory

# Misc
.Rhistory
.DS_Store
