# Secrets
.synapseConfig
creds.json

# Dist and test artifacts 
tests/schematic/generate/creds.json
tests/schematic/generate/NF.jsonld
tests/schematic/generate/config.json
tests/schematic/validate/great-expectations
tests/submit/work
tests/submit/NF.jsonld
tests/test-suite-report.md
tests/**/logs
publish/**
nfosi.xlsx

*.schema.json
*.manifest.csv
*.test.xlsx

# IDE and code tools
venv
retold
.idea
.lsp
.clj-kondo
.Rhistory
*/__pycache__/
__pycache__/

# Misc
.Rhistory
.DS_Store
