# Secrets
.synapseConfig
creds.json

# Dist and test artifacts 
tests/generate/creds.json
tests/generate/NF.jsonld
tests/generate/config.json
tests/validate/great-expectations
tests/submit/work
tests/submit/NF.jsonld
tests/test-suite-report.md
tests/**/logs
publish/**

**/schematic
*.schema.json
*.manifest.csv
*.test.xlsx

# IDE and code tools
retold
.idea
.lsp
.clj-kondo
.Rhistory

# Misc
.Rhistory
.DS_Store
