@font-face {
  font-family: DM Sans,sans-serif;
  src: url(https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..100);
}

body {
  font-family: DM Sans,sans-serif;
}

div.main-container {
  max-width: 1200px !important;
}

.tag {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.03);
  border-radius: 20%;
  color: #000;
  font-size: 13px;
  letter-spacing: -2px;
}

.warning {
  color: #000;
  background-color: orange;
}

.good {
  color: #000;
  background-color: #50C878;
}

div.info {
  padding: 1em;
  margin: 1em 0;
  padding-left: 80px;
  background-size: 30px;
  background-repeat: no-repeat;
  background-image: url("info_icon.svg");
  background-position: 15px center;
  background-color: rgba(18,94,129,.05);
  
}

.term-table {
  margin-top: 16px;
  border: 1px solid hsl(213, 33%, 93%);
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.template-title {
  font-size: 14px;
}

.detail {
  padding: 24px;
  box-shadow: inset 0 1px 3px #dbdbdb;
  background: hsl(213, 20%, 99%);
}

.detail-label {
  margin: 20px 0 4px;  
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}

.detail-header {
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: 600;
}

.detail-title {
  margin-left: 18px;
  font-size: 14px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
}

/* Custom tab pills */ 

.nav-pills > li > a {
  background-color: #fff;
  border: 1px solid #e2e8f0;
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: #0d172a;
  cursor: pointer;
  display: inline-block;
  font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1;
  padding: 1rem 1.6rem;
  text-align: center;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all .1s cubic-bezier(.1, 0, .2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}


.nav-pills > li.active > a:hover, .nav-pills > li.active > a {
  background-color:rgb(64, 75, 99) !important;
  color: #fff;
}

/* TOC */

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    z-index: 2;
    color: #ffffff;
    background-color: rgb(64, 75, 99);
    border-color: rgb(64, 75, 99);
}
