# Create reminder issue at beginning of the month
name: Monthly release reminder

on:
  schedule:
    # Run at 08:00 UTC on the first calendar day of each month
    - cron: '00 08 1 * *'

  workflow_dispatch:

jobs:
  create_issue:
    name: Create monthly release reminder
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
      - name: Create release issue
        run: |
          gh issue create \
            --title "$TITLE" \
            --label "$LABELS" \
            --body "$BODY"
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GH_REPO: ${{ github.repository }}
          TITLE: Monthly Data Model Release
          LABELS: release
          BODY: |
            ### Summary

            This issue serves as a reminder to create a version for reference purposes. 
            Synapse uses stable "latest" from `main` branch, which is continuously tested via CI/CD. 
            This is so we don't have to recreate a curation task each time the data model changes to add a new term, etc -- curation grid instantiates with the latest JSON schema.
            However, at one or more times during each month it is helpful to create a curated snapshot to provide a semantic landmark and digestible changelog.

            ### Checklist

            - [ ] Review recent CI/CD results on `main` to confirm model is in good state and whether a release is warranted
            - [ ] (Optional) Do additional UI/UX testing within Synapse. Note: CI/CD guarantees that JSON schemas are accepted by Synapse but does not guarantee that all features/interactions render as expected.  
            - [ ] Create new release by pushing a version tag `git tag vX.Y.Z && git push origin vX.Y.Z` or using the release workflow in the Actions UI 
            - [ ] Verify release workflow completed successfully at https://github.com/nf-osi/nf-metadata-dictionary/actions

            ### Working rotation

            - Jan, May, Sep: @anngvu
            - Feb, June, Oct: @aditya-nath-sage
            - Mar, Jul, Nov: @changtotheintothemoon
            - Apr, Aug, Dec: @BelindaBGarana
