name: schematic-ci

on:

  pull_request:   # default types: opened, synchronize, reopened
    branches: [main]
    paths:
      - 'modules/**'
  
  workflow_dispatch:

env:
  schema_filename: NF.csv
  
jobs:
  build:
    runs-on: ubuntu-20.04

    steps:
      - name: Install System Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y pip python3.8-venv libcurl4-openssl-dev
      
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          persist-credentials: false # otherwise, the token used is the GITHUB_TOKEN, instead of your personal access token.
          fetch-depth: 0 # otherwise, there would be errors pushing refs to the destination repository
 
      - name: Update valid values
        run: |
          python -m pip install --upgrade pip
          pip install pyyaml pandas
          python update_valid_values.py
      
      - name: Install schematic and convert schema
        shell: bash
        run: |
          python3 -m venv .venv
          chmod 755 .venv/bin/activate
          source .venv/bin/activate
          pip3 install schematicpy
          make CSV=$schema_filename
    
      - name: Commit files
        run: |
          git config --local user.email "nf-osi@sagebionetworks.org"
          git config --local user.name "nf-osi[bot]"
          git commit -m "Build jsonld" -a
    
      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
         github_token: ${{ secrets.GITHUB_TOKEN }}
         branch: ${{ github.event.pull_request.head.ref }}


# Additionally test only if is a PR to avoid testing for every push
  test:
    name: Test with schematic
    needs: [build]
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        schematic-version: [23.1.1]
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:  
          fetch-depth: 1

      - name: Setup schematic
        id: setup-schematic
        run: pip3 install schematicpy==${{ matrix.schematic-version }}

      - name: Test validate
        working-directory: tests
        continue-on-error: true
        run: |
          cp ../NF.jsonld NF.jsonld
          ./test.sh

      - name: Upload test artifacts
        uses: actions/upload-artifact@v2
        with:
          name: test-logs-${{ matrix.schematic-version }}
          path: tests/*_log.txt

  # TO-DO: Submit tests
  
